.button-container {
  height: 80px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #e72031;
  color: #f5f5f5;
  border-radius: 25px;
  border: 2px solid rgba(73, 59, 150, 0);
  margin: 4px;
  box-shadow: 2px 2px 1px #0e183bf8;
  cursor: pointer;
  user-select: none;
}

.operator {
  background-color: #c60d1c;
  color: rgb(94, 7, 7);
  border: 2px solid rgba(16, 8, 79, 0.463);
  border-radius: 15px;
}

.button-container:hover {
  color: rgb(255, 255, 255);
  background-color: #c60d1c;
  box-shadow: 1px 1px 4px 2px #03103c;
}

.operator:hover {
  color: rgb(255, 255, 255);
  background-color: #ac0e1b;
  box-shadow: 1px 1px 4px 2px #0a1743;
}
