.b-clear {
  height: 80px;
  font-size: 2em;
  display: flex;
  flex: 1 1;
  background-color: #dddde6;
  margin: 4px;
  justify-content: center;
  align-items: center;
  color: rgb(71, 72, 85);
  cursor: pointer;
  user-select: none;
  border-radius: 15px;
  box-shadow: 2px 2px 1px #4e4e63c9;
}

.b-clear:hover {
  background-color: rgb(243, 243, 243);
  color: rgb(255, 31, 31);
}
