* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(233, 233, 233, 0.998);
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.c-container {
  width: 410px;
  height: 580px;
  padding: 4px;
  background-color: #989aa493;
  border-radius: 15px;
  border: 2px solid rgba(68, 68, 68, 0.361);
  box-shadow: 4px 2px 10px 2px #47464671;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.japan {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.japan-logo {
  margin-top: 20px;
  height: 120px;
}
